.btn {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 0;
  color: $black;
  background-color: transparent;
  border: 0;
  transition: $trs;

  &--black {
    color: $black;
  }

  &--red {
    color: $red;
  }

  &--green {
    color: $green;
  }

  &--grey {
    color: $text-color;
  }

  &--fill {
    padding: 2rem 3.5rem;
    background: currentColor;
    border-radius: 50px;

    @include respond-min(tablet) {
      padding: 1.375rem 2.125rem;
    }

    &.btn--black:hover {
      background-color: $text-color;
    }

    &.btn--red:hover {
      background-color: #dd044b;
    }
  }
}

.btn__circle {
  display: none;

  .btn--plain & {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.25rem solid currentColor;
    transition: $trs;
  }

  .btn--plain:hover & {
    border-color: transparent;

    &::before {
      background-color: currentColor;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    transition: $trs;
  }

  @include respond-min(tablet) {
    .btn--plain & {
      width: 2.75rem;
      height: 2.75rem;
      margin-right: 1.125rem;
      border-width: 0.125rem;
    }

    &::before {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

.btn__arrow {
  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 0.25rem;
  background-color: currentColor;
  transition: $trs;

  .btn--plain:hover & {
    background-color: $white;

    &::before {
      border-left-color: $white;
    }
  }

  @include respond-min(tablet) {
    left: 0.6rem;
    width: 1rem;
    height: 0.125rem;
  }
}

.btn__triangle {
  position: absolute;
  top: 50%;
  right: 0.6rem;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0.4rem 0 0.4rem 0.8rem;
  border-color: transparent transparent transparent currentColor;
  transition: $trs;

  .btn--plain:hover & {
    border-left-color: $white;
  }

  @include respond-min(tablet) {
    right: 0.5rem;
    border-width: 0.25rem 0 0.25rem 0.5rem;
  }
}

.btn__text {
  .btn--fill & {
    color: $white;
  }

  .btn--plain & {
    color: $black;
  }
}
