.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;

  &--opened {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 7.5rem;
    background-color: $white;
    border-bottom: 0;
  }

  @include respond-min(tablet) {
    position: sticky;
    top: -3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    background-color: $white;
    border-bottom: 1px solid rgba($black, 0.5);

    &::before {
      content: '';
      position: absolute;
      top: calc(3rem - 1px);
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba($black, 0.5);
    }
  }
}

.header__logo {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid $black;

  @include respond-min(tablet) {
    order: 3;
    position: static;
    width: 20%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0;
  }
}

.header__tel {
  display: none;
  align-self: flex-start;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  .header--opened & {
    display: flex;
  }

  a {
    @include font('m');

    font-size: 2rem;
    letter-spacing: 0.08em;
  }

  @include respond-min(tablet) {
    order: 5;
    display: flex;
    justify-content: flex-end;
    align-self: auto;
    width: 20%;
    margin-left: 0;
    margin-right: 0;

    a {
      font-size: 1rem;
      letter-spacing: 0.08em;
    }
  }
}
