.logo {
  display: flex;
}

.logo__link {
  align-self: flex-start;
  flex-shrink: 0;
  width: 14rem;
  height: 4rem;

  .logo--footer & {
    width: 27rem;
    height: 7.5rem;
  }

  @include respond-min(tablet) {
    width: 13.5rem;
    height: 3.75rem;

    .logo--footer & {
      width: 15.625rem;
      height: 4.375rem;
    }
  }
}
