.logo {
  display: flex;
  background-color: $white;

  @include respond-min(tablet) {
    display: flex;
  }
}

.logo__link {
  align-self: flex-start;
  flex-shrink: 0;
  max-width: 14rem;
  max-height: 4rem;

  @include respond-min(tablet) {
    display: flex;
  }
}
