.main-nav {
  display: none;

  .header--opened & {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 5rem;
  }

  @include respond-min(tablet) {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    width: 60%;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @include respond-min(tablet) {
    flex-direction: row;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $black;

  @include respond-min(tablet) {
    overflow: hidden;
    flex-direction: row;
    border-bottom: 0;

    &:hover {
      overflow: visible;
    }
  }
}

.main-nav__link {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2.25rem;
  line-height: 1.4;
  text-decoration: none;
  transition: $trs;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2.5rem;
    width: 0.625rem;
    height: 1.25rem;
    background: url('/assets/img/i-triangle.svg') no-repeat center;
    transform: translateY(-50%);
  }

  .main-nav__content & {
    margin-bottom: 3.75rem;
    padding-left: 5.5rem;
    border-bottom: 1px solid $black;

    &::after {
      left: 2.5rem;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include respond-min(tablet) {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0rem;
    padding-right: 3rem;
    font-size: 1.125rem;

    .main-nav__item:last-of-type & {
      padding-right: 1rem;

      &::after {
        right: 0;
      }
    }

    &::after {
      right: 2rem;
      width: 0.6rem;
      height: 0.6rem;
      background-image: url('/assets/img/i-triangle-grey.svg');
      transform: translateY(-50%) rotate(0deg);
    }

    .main-nav__content & {
      display: none;
    }
  }
}

.main-nav__content {
  overflow: auto;
  position: fixed;
  z-index: 2;
  top: 8rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: $trs;
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;

  .main-nav__item--opened & {
    transform: translateX(0);
  }

  @include respond-min(tablet) {
    position: absolute;
    top: 100%;
    bottom: auto;
    flex-direction: row;
    max-height: calc((100vh - 9.875rem) * 0.8);
    opacity: 0;
    pointer-events: none;
    transform: translateX(0) scaleY(1);
    transform-origin: 50% 0;

    .main-nav__item.hovered & {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0) scaleY(1);
    }
  }
}

.main-nav__block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 3.75rem;

  @include respond-min(tablet) {
    overflow: auto;
    width: 35%;
    min-height: 100%;
    margin-bottom: 0;
    padding-top: 3.25rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 2rem;
  }
}

.main-nav__sublist {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-min(tablet) {
    margin-bottom: 2.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__subitem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include respond-min(tablet) {
    margin-bottom: 1rem;
  }
}

.main-nav__sublink {
  align-self: flex-start;
  font-size: 2rem;
  line-height: 1.4;
  text-decoration: none;

  @include respond-min(tablet) {
    @include font('m');
    align-self: auto;
    font-size: 1.125rem;
    transition: $trs;

    &:hover {
      color: $red;
    }
  }
}

.main-nav__subtitle {
  @include font('b');

  align-self: flex-start;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  font-size: 1.375rem;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include respond-min(tablet) {
    margin-bottom: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.75rem;
    letter-spacing: 0.08em;
  }
}

.main-nav__info {
  flex-shrink: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include respond-min(tablet) {
    overflow: auto;
    width: 30%;
    min-height: 100%;
    padding-top: 3.25rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.main-nav__banner {
  flex-shrink: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @include respond-min(tablet) {
    overflow: auto;
    width: 35%;
    min-height: 100%;
    padding-top: 3.25rem;
    padding-bottom: 2rem;
    padding-left: 3.25rem;
    padding-right: 10rem;
  }
}

.main-nav__banner-image {
  flex-shrink: 0;
  max-width: 72rem;
  margin-bottom: 2.5rem;

  @include respond-min(tablet) {
    max-width: none;
    height: 10rem;
    margin-bottom: 1.875rem;

    img {
      object-position: left top;
    }
  }
}

.main-nav__banner-title {
  margin-bottom: 3.75rem;

  @include respond-min(tablet) {
    margin-bottom: 2.75rem;
  }
}
