.slider-top {
  position: relative;
  width: 100%;
  user-select: none;
}

.slider-top__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 11.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    background-color: $white;
  }

  &::before {
    top: 7.5rem;
    height: 2px;
  }

  &::after {
    bottom: 7.5rem;
    height: 1px;
  }

  @include respond-min(tablet) {
    padding-bottom: 9.5rem;
    padding-left: 20vw;
    padding-right: 7rem;

    &::before,
    &::after {
      left: 20vw;
      right: 7rem;
    }
  }
}

.slider-top__image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    object-fit: cover;
  }
}

.slider-top__title {
  @include font('m');
  margin-top: 0;
  margin-bottom: 2rem;
  color: $white;

  @include respond-min(tablet) {
    font-size: 3.125rem;
  }
}

.slider-top__text {
  margin-bottom: 5.5rem;

  p {
    font-size: 1.75rem;
    line-height: 1.4;
    color: $white;
  }

  @include respond-min(tablet) {
    margin-bottom: 3rem;

    p {
      font-size: 1.125rem;
    }
  }
}

.slider-top__btn {
  align-self: flex-start;
  margin-top: auto;
}

.slider-top__pages {
  display: none;

  &--mobile {
    display: flex;

    @include respond-min(tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond-min(tablet) {
      display: flex;
    }
  }

  &--all {
    display: flex;
  }

  @include respond-min(tablet) {
    position: absolute;
    z-index: 1;
    top: 4.75rem;
    left: 20vw;
    right: 7rem;
    align-items: center;
    color: $green;
  }
}

.slider-top__page {
  @include font('b');
  font-size: 0.75rem;
  color: $green;

  &--current {
    color: $white;
  }
}

.slider-top__timeline {
  width: 1.875rem;
  height: 1px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: $green;
}

.slider-top__dots {
  position: absolute;
  z-index: 1;
  bottom: 0 !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: none;
  flex-wrap: wrap;

  &--mobile {
    display: flex;

    @include respond-min(tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond-min(tablet) {
      display: flex;
    }
  }

  &--all {
    display: flex;
  }

  @include respond-min(tablet) {
    margin-bottom: 2.75rem;
    padding-left: 17.5rem;
  }
}

$circle-radius: 25;

.slider-top__dot {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5em;
  padding: 1rem;
  border: 0;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  transition: $trs;

  svg {
    width: 2rem;
    height: 2rem;
  }

  circle {
    fill: transparent;
    stroke: $green;
    stroke-dasharray: get-dash-value($circle-radius, 100%);
    stroke-width: 50;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);

    .slider-top:active .slider-top__dots &,
    .slider-top__dots:active & {
      animation: none;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;

    circle {
      animation-name: circle-animation;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
    }
  }

  @include respond-min(tablet) {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.65rem;
    margin-right: 0.875rem;
    padding: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

@keyframes circle-animation {
  0% { stroke-dashoffset: get-dash-value($circle-radius, 0%); }
  100% { stroke-dashoffset: get-dash-value($circle-radius, 100%); }
}

.slider-top__arrows {
  display: none;

  &--mobile {
    display: flex;

    @include respond-min(tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond-min(tablet) {
      display: flex;
    }
  }

  &--all {
    display: flex;
  }

  @include respond-min(tablet) {
    position: absolute;
    z-index: 1;
    bottom: 2.5rem;
    right: 7rem;
  }
}

.slider-top__arrow {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: rgba($green, 0.5);
  transition: $trs;

  &--prev {
    margin-right: 0.625rem;
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $green;
  }

  .btn__circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $white;
  }

  .btn__arrow {
    left: 1.2rem;
    width: 1rem;
  }

  .btn__triangle {
    right: 1.2rem;
  }
}
