.slider-arrows {
  display: none;

  &--mobile {
    display: flex;

    @include respond-min(tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include respond-min(tablet) {
      display: flex;
    }
  }

  &--all {
    display: flex;
  }
}

.slider-arrows__arrow {
  // border-radius: 50%;
  transition: $trs;

  .slider-arrows--fill & {
    // color: currentColor;
    // background-color: currentColor;
  }

  .slider-arrows--plain & {
    // background-color: transparent;
  }

  &--prev {
    margin-right: 0.625rem;
    transform: rotate(180deg);
  }

  &:hover {
    // background-color: $green;
  }

  .btn__circle {
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 100%;
    // color: $white;
  }

  // .btn__arrow {
  //   left: 1.2rem;
  //   width: 1rem;
  // }

  // .btn__triangle {
  //   right: 1.2rem;
  // }
}
