.slider-top {
  position: relative;
  width: 100%;
  user-select: none;
}

.slider-top__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 11.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    background-color: $white;
  }

  &::before {
    top: 7.5rem;
    height: 2px;
  }

  &::after {
    bottom: 7.5rem;
    height: 1px;
  }

  @include respond-min(tablet) {
    padding-bottom: 9.5rem;
    padding-left: 18rem;
    padding-right: 7rem;

    &::before,
    &::after {
      left: 18rem;
      right: 7rem;
    }
  }
}

.slider-top__image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    object-fit: cover;
  }
}

.slider-top__title {
  @include font('m');
  margin-top: 0;
  margin-bottom: 2rem;

  @include respond-min(tablet) {
    font-size: 3.125rem;
  }
}

.slider-top__text {
  margin-bottom: 5.5rem;

  @include respond-min(tablet) {
    margin-bottom: 3rem;
  }
}

.slider-top__btn {
  align-self: flex-start;
  margin-top: auto;
}

.slider-top__pages {
  @include respond-min(tablet) {
    position: absolute;
    z-index: 1;
    top: 4.75rem;
    left: 18rem;
    right: 7rem;
  }
}

.slider-top__dots {
  position: absolute;
  z-index: 1;
  bottom: 0 !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include respond-min(tablet) {
    margin-bottom: 2.75rem;
    padding-left: 17.5rem;
  }
}

.slider-top__arrows {
  @include respond-min(tablet) {
    position: absolute;
    z-index: 1;
    bottom: 2.5rem;
    right: 7rem;
  }
}
