-
  const navBlocks = [{
    title: {
      name: `Физическим лицам`,
      className: ``,
    },
    menuItems: [
      `Паевые фонды`,
      `ИИС`,
      `Состоятельным клиентам`,
      `Начинающему инвестору`,
      `Моя цель/Подобрать продукт`,
      `Финансовое планирование`,
    ],
  }, {
    title: {
      name: `Юридическим лицам`,
      className: ``,
    },
    menuItems: [
      `Агентам`,
      `ЗПИФы`,
      `СРО`,
      `Эндаумент-фонды`,
      `НПФ`,
    ],
  }, {
    title: ``,
    menuItems: [
      `О компании`,
      `Блог`,
      `Вопросы и ответы`,
      `Новости`,
      `Контакты`,
    ],
  }, {
    title: {
      name: `Следите за нами в соцсетях`,
      className: `only-desktop`,
    },
    menuItems: [
      `Instagram`,
      `Vkontakte`,
      `Facebook`,
      `Telegram`,
    ],
  },];

mixin footer
  footer.footer
    header.footer__top
      +logo(`logo--footer footer__logo`)
      .footer__tel
        a.clr-black.t-tdn.footer__tel-number(href=`tel:+78126356865`) +7 812 635 6865
        p.clr-text.footer__tel-caption Санкт-Петербург
      .footer__tel
        a.clr-black.t-tdn.footer__tel-number(href=`tel:88003338585`) 8 800 333 8585
        p.clr-text.footer__tel-caption Для звонков из других регионов

    nav.footer__nav
      each block in navBlocks
        .footer__nav-block
          if block.title
            p.t-l-title.footer__nav-title(class=block.title.className)= block.title.name

          ul.footer__nav-list
            each item in block.menuItems
              li.footer__nav-item
                a.clr-black.t-tdn.footer__nav-link(href=`#`)= item

    footer.footer__bottom.clr-white
      .footer__disclaimers.clr-d-grey
        .footer__disclaimer
          p О «Открытие Брокер», лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности № 045-06097-100000, выдана ФКЦБ России 28.06.2002 г. (без ограничения срока действия).
          p Информация о тарифных планах/тарифах опубликована в маркетинговых целях в сокращённом варианте. Полный перечень тарифных планов/тарифов, их содержание и условия применения содержатся на сайте open-broker.ru в приложении № 2 «Тарифы» к договору на брокерское обслуживание/договору на ведение индивидуального инвестиционного счёта АО «Открытие Брокер». Необходимо иметь это в виду при выборе тарифного плана.
          p Под «сервисом» понимается одно или несколько (совокупность) условий брокерского обслуживания клиентов, включая, но не ограничиваясь: открытие определённого портфеля, ведение отдельного инвестиционного счёта, предложение тарифного плана, предоставление клиенту информационных сообщений, а также иные условия, предусмотренные договором и/или Регламентом обслуживания клиентов АО «Открытие Брокер» и/или дополнительным соглашением с клиентом и/или размещённые на сайте АО «Открытие Брокер». Подробнее о каждом сервисе вы можете узнать на сайте компании, в личном кабинете или обратившись к сотруднику АО «Открытие Брокер».
          p Правообладатель программного обеспечения (ПО) MetaTrader 5 MetaQuotes SoftwareCorp. Правообладатель программного обеспечения (ПО) QUIK ООО «АРКА Текнолоджиз».

        .footer__disclaimer
          p Какие-либо из указанных финансовых инструментов или операций могут не соответствовать вашему инвестиционному профилю.
          p Упомянутые в представленном сообщении операции и (или) финансовые инструменты ни при каких обстоятельствах не гарантируют доход, на который вы, возможно, рассчитываете, при условии использования предоставленной информации для принятия инвестиционных решений.
          p «Открытие Брокер» не несёт ответственности за возможные убытки инвестора в случае совершения операций либо инвестирования в финансовые инструменты, упомянутые в представленной информации.
          p Во всех случаях определение соответствия финансового инструмента либо операции инвестиционным целям, инвестиционному горизонту и толерантности к риску является задачей инвестора.
          p Информация в настоящем разделе сайта, носит ознакомительный характер, не является гарантией или обещанием доходности вложений в будущем. Инвестирование в финансовые инструменты связано с высокой степенью рисков и не подразумевает каких-либо гарантий как по возврату основной инвестированной суммы, так и по получению каких-либо доходов.
          p Доходность инвестиционных идей и анализ иных показателей для данного рекламного материала подготовлен аналитиками АО «Открытие Брокер» на момент публикации материала.

      .footer__copyrights
        p.t-l-caption.footer__copyright 1993-2019 © ИК ДОХОДЪ, АО
        p.t-l-caption.footer__copyright.footer__copyright--its Разработано в #[a.clr-white.t-tdn(href=`//its.agency` target=`_blank`) its.agency]
