mixin logo(className)
  .logo.bg-white(class=className)
    a.logo__link.u-flex(href=`main.html`)
      +picture(``, {
        minWidth: `1024px`,
        desktopName: `logo`,
        mobileName: `logo`,
        imgClass: ``,
        alt: `Доход. Управляющая компания`
      })

    button.logo__menu-toggle-btn(type=`button`)
      span
      span
      span
      span
