mixin slider-top(className, {slides, pages, dots, arrows})
  .slider-top.swiper-container(class=className)
    .swiper-wrapper
      if slides.length
        each slide in slides
          .slider-top__slide.swiper-slide
            +picture(`bg-d-grey`, slide.image)
            h1.clr-white.t-h1.slider-top__title= slide.title
            .slider-top__text
              p.clr-white.t-middle= slide.text
            +btn({
              btnText: `Читать подробнее`,
              btnClass: `btn--fill btn--red slider-top__btn`
            })

    if pages
      +slider-pages({
        classNames: [pages.className, `slider-top__pages`],
        slidesLength: slides.length,
      })

    if dots
      +slider-dots({
        classNames: [dots.className, `slider-top__dots`],
      })

    if arrows
      +slider-arrows({
        classNames: [arrows.className, `slider-top__arrows`],
        btns: [{
          btnText: ``,
          btnClass: `btn--fill btn--big slider-arrows__arrow slider-arrows__arrow--prev`
        }, {
          btnText: ``,
          btnClass: `btn--fill btn--big slider-arrows__arrow slider-arrows__arrow--next`
        }],
      })
