extends ../layout/template

block variables
  -
    const pages = [{
      title: `Главная`,
      link: `main.html`,
    }];

block content
  style.
    body { padding: 2rem; font-size: 2rem }
    ol { list-style: decimal; padding-left: 4rem }

  main
    h1 Страницы:
    ol
      each page in pages
        li
          a.clr-black(href=page.link)= `${page.title} — ${page.link}`
