extends ../layout/template

block variables
  -
    const pages = [{
      title: `Главная`,
      link: `main.html`,
    }];

block content
  style.
    body {
      margin: 0;
      padding: 1.5rem;
      font-size: 1.5rem;
      line-height: 1;
    }
    h1 {
      margin: 0;
      font-size: 2rem;
    }
    ol {
      list-style: decimal;
      padding-left: 2rem;
    }
    a {
      color: black;
    }

  main
    h1 Страницы:
    ol
      each page in pages
        li
          a.clr-black(href=page.link)= `${page.title} — ${page.link}`
