extends ../layout/template

block variables
  -
    const sliders = {
      banners: {
        slides: [
          {
            title: `Мировые акции`,
            text: `При формировании инвестиционного портфеля управляющий ориентируется на   индекс MSCI World и не отклоняется от него существенно`
          },
          {
            title: `Мировые акции 2`,
            text: `При формировании инвестиционного портфеля управляющий ориентируется на   индекс MSCI World и не отклоняется от него существенно`
          },
          {
            title: `Мировые акции 3`,
            text: `При формировании инвестиционного портфеля управляющий ориентируется на   индекс MSCI World и не отклоняется от него существенно`
          },
          {
            title: `Мировые акции 4`,
            text: `При формировании инвестиционного портфеля управляющий ориентируется на   индекс MSCI World и не отклоняется от него существенно`
          }
        ],
        //- pagesClass: `slider--pages-desktop`,
        //- dotsClass: `slider--dots-all`,
        //- arrowsClass: `slider--arrows-desktop`
      },
      products: {
        slides: [],
      }
    };

block content
  +header
  main
    section.banners
      +slider(`bg-l-grey`, sliders.banners)

    section.products
      +slider(`bg-l-grey`, sliders.products)

    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur, ex ipsam distinctio similique accusantium illum quo quod neque, tenetur ipsum. Repellat esse suscipit qui sit corrupti reiciendis, quibusdam maxime?
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur, ex ipsam distinctio similique accusantium illum quo quod neque, tenetur ipsum. Repellat esse suscipit qui sit corrupti reiciendis, quibusdam maxime?
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur, ex ipsam distinctio similique accusantium illum quo quod neque, tenetur ipsum. Repellat esse suscipit qui sit corrupti reiciendis, quibusdam maxime?
