.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-red {
  background-color: $red;
}

.bg-l-red {
  background-color: $l-red;
}

.bg-green {
  background-color: $green;
}

.bg-l-green {
  background-color: $l-green;
}

.bg-blue {
  background-color: $blue;
}

.bg-l-blue {
  background-color: $l-blue;
}

.bg-grey {
  background-color: $grey;
}

.bg-l-grey {
  background-color: $l-grey;
}

.bg-d-grey {
  background-color: $d-grey;
}

.clr-black {
  color: $black;
}

.clr-white {
  color: $white;
}

.clr-red {
  color: $red;
}

.clr-l-red {
  color: $l-red;
}

.clr-green {
  color: $green;
}

.clr-l-green {
  color: $l-green;
}

.clr-blue {
  color: $blue;
}

.clr-l-blue {
  color: $l-blue;
}

.clr-grey {
  color: $grey;
}

.clr-l-grey {
  color: $l-grey;
}

.clr-d-grey {
  color: $d-grey;
}

.clr-text {
  color: $text-color;
}
