/* Headings */

.t-h1 {
  @include font('b');
  font-size: 4.5rem;

  @media (min-width: $tablet) {
    font-size: 3.4375rem;
  }
}

.t-h2 {
  @include font('b');
  font-size: 3rem;

  @media (min-width: $tablet) {
    font-size: 2.875rem;
  }
}

.t-h3 {
  @include font('b');
  font-size: 2.75rem;
  @media (min-width: $tablet) {
    font-size: 1.875rem;
  }
}

.t-h4 {
  @include font('m');
  font-size: 2.125rem;

  @media (min-width: $tablet) {
    font-size: 1.25rem;
  }
}


/* Text */

.t-small {
  font-size: 1.25rem;

  @media (min-width: $tablet) {
    font-size: 0.875rem;
  }
}

.t-normal {
  font-size: 1.625rem;

  @media (min-width: $tablet) {
    font-size: 1.125rem;
  }
}

.t-big {
  font-size: 2rem;

  @media (min-width: $tablet) {
    font-size: 1.375rem;
  }
}


/* Style */

.t-ttu {
  text-transform: uppercase;
}

.t-tdn {
  text-decoration: none;
}
